<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>~&lt;| MOVIES |&gt;~</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
</head>
<body>

    <section class="movie-section">
        <h2 class="movie-section__title">THRILLERS</h2>
        <div class="movie-section__movies">

            <div class="thumbnail-view">

                <img src="" alt="" class="thumbnail-view__cover-image">

                <div class="thumbnail-view__upper-bar">
                    <h3 class="thumbnail-view__title">SCREAM</h3>
                    <button class="thumbnail-view__add-to-list">+</button>
                </div>

                <p class="thumbnail-view__info">
                    <span class="thumbnail-view__info__length">1:30:27</span>
                </p>

            </div>

        </div>
    </section>
    
</body> 
</html>